.flotButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floatButton svg {
  color: var(--color-text-primary);
}

.flotButton svg,
.floatButton img {
  width: 100px;
  height: 100px;
  animation: ImageMove 3s infinite;
}

.flotButton h1,
.flotButton p {
  margin-top: 2rem;
  font-size: 1.9rem;
  font-weight: 400;
  color: var(--color-text-primary);
}

@keyframes ImageMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
