.navbarContainer {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */

  width: 100%;
  height: 100px;

  background: var(--color-secundary);
  border-bottom: solid 2px var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.navbarContentWrapper {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLogo {
  font-size: 0;
}

.navbarLogo img {
  width: 120px;
  user-select: none;
  -webkit-user-drag: none;
}
